@import url(generalStyles.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/* Tabla */

.result-tests{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    margin-bottom: 3rem;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #f5f5f5;
  }
  .title-table{
    text-align: center;
    margin-bottom: 30px;
  }

.hi-slide{
  position: relative;
  width: 754px;
  height: 292px;
  border-radius: 50px;
  margin: 115px auto 0;
}  

.hi-slide .hi-next,
.hi-silde .hi-prev{
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: all 0.7s;
  font-size: 20px;
  font-weight: bold;
}
.h1-slide .hi-next:hover,
.h1-slide .hi-prev:hover{
  opacity: 1;
  background-color: white;
}
.hi-slide .hi-prev{
  left: 59px;
}
.h1-slide .hi-prev::before{
  content: '<';
}
.h1-slide .hi-next::before{
  content: '>';
}
.hi-slide .hi-next{
  left: 59px;
}
