* {
    margin: 0;
    padding: 0;
}


.containerForms {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.containerForms #containerFormEstudents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.containerForms #containerFormEstudents .containerForms1 {
    display: flex;
    width: 100%;
}

.containerForms #containerFormEstudents form .typeForm1 {
    display: flex;
}

.containerForms #containerFormEstudents form .typeForm2 {
    display: flex;

}